
body {
  background-color: rgb(212, 241, 212);
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.navbar ul {
  background-color: aliceblue;
  padding: 8px 28px;
  border-radius: 20px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.auth-controls {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
}

.auth-controls span {
  font-weight: bold;
}

button {
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.navbar ul li {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
}


a.active {
  color: darkcyan;
  transition: 0.2s;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 380px;
}

.container h1 {
  font-size: 50px;
  font-weight:  550;
}


.blog-container {
  width: 80%;
  margin: 240px auto 0 auto; 
  padding: 20px;
  font-family: 'Arial', sans-serif;
}


.blog-container h1 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}


.blog-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.blog-container button:hover {
  background-color: #45a049;
}


.blog-posts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.blog-posts-list li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.blog-posts-list li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.blog-posts-list li a {
  font-size: 1.25rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}


.blog-posts-list li a:hover {
  color: #4CAF50;
}


.blog-container p {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-top: 20px;
}
